<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidence Form</title>

    <link rel="stylesheet" href="../../static/style/bootstrap/css/bootstrap.min.css">


    {% load static %}

    {% comment %} {{ form.media }} {% endcomment %}
</head>
<body>
    <h5>Report an Incidence</h5>
    <form action="" method="POST" >
        <!-- CSRF Token -->
        {% csrf_token%}
        <h2>Report Incidents Here</h2>
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</body>
</html>